.place__wrapper_top {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

@media screen and (max-width: 320px) {
  .place__wrapper_top {
    flex-direction: column;
    margin-bottom: 32px;
  }
}
